/* Code syntax highlight */

@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/styles/github-dark.min.css";
@import "css/reset.css";
@import "css/navbar.css";
@import "css/search.css";
@import "css/post-list.css";
@import "css/post.css";
@import "css/tag.css";
main {
    max-width: 1240px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0;
}

.main-content,
.sidebar {
    position: relative;
    min-height: 1px;
}

.main-content,
aside {
    padding-left: 15px;
    padding-right: 15px;
}

aside {
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    min-height: 100px;
}

aside ul {
    list-style: none;
    padding-left: 0;
}

aside li {
    padding: 10px 15px;
}

aside h4 {
    margin: 0px;
}

@media (min-width: 768px) {
    .main-content {
        width: 75%;
    }
    .sidebar {
        width: 25%;
    }
    main {
        display: flex;
        flex-wrap: nowrap;
        padding: 5vh 5vw;
    }
}